/*!
 * JACKRO - Code & Design
 * The Free Code and Design Template for Developers and Designers.
 * Created using Moonshine, A Scalable and maintainable architecture.
 *
 * Author:   Jack Ryan Oracoy
 * Website:  https://jackryanoracoy.github.io
 * Email:    jackryanoracoy@gmail.com
 * URL:      https://github.com/jackryanoracoy/moonshine
 * License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt
 */
/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/
.c-browser-notice {
  padding: 20px;
  color: #FAFAFA;
  text-align: center;
  background-color: #F44336;
}

/*--------------------------------------------------
  Tab
--------------------------------------------------*/
.c-tab-link {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.c-tab-link__item {
  display: inline-block;
  padding: 10px 15px;
  color: #212121;
  background: none;
  cursor: pointer;
}
.c-tab-link__item.js-current {
  background-color: #FAFAFA;
  color: #212121;
}

.c-tab-content {
  display: none;
  background: #FAFAFA;
  padding: 15px;
}
.c-tab-content.js-current {
  display: inherit;
}

/*--------------------------------------------------
  Button
--------------------------------------------------*/
.c-button {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 0 20px;
  color: #FAFAFA !important;
  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-radius: 20px;
  background-color: #B71C1C;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  white-space: nowrap;
}
.c-button:hover, .c-button:visited, .c-button:active, .c-button:focus {
  text-decoration: none;
}
.c-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}
.c-button--cta {
  min-width: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 25px;
}
.c-button--full {
  display: block;
  width: 100%;
}
.c-button--edgy {
  border-radius: 2px;
}
.c-button--gradient {
  color: #FAFAFA !important;
  background-image: linear-gradient(to bottom right, #B71C1C, #880E4F);
}
.c-button--secondary {
  color: #FAFAFA !important;
  background-color: #880E4F;
}
.c-button--light {
  color: #212121 !important;
  background-color: #FAFAFA;
}
.c-button--dark {
  color: #FAFAFA !important;
  background-color: #212121;
}
.c-button--success {
  color: #FAFAFA !important;
  background-color: #4CAF50;
}
.c-button--warning {
  color: #FAFAFA !important;
  background-color: #FF9800;
}
.c-button--danger {
  color: #FAFAFA !important;
  background-color: #F44336;
}
.c-button--info {
  color: #FAFAFA !important;
  background-color: #00BCD4;
}
.c-button--square-bar {
  padding: 0 70px 0 20px;
  text-align: left;
  line-height: 50px;
  border-radius: 2px;
}
.c-button--square-bar::after {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.15);
}
.c-button--square-bar:hover::after {
  background-color: rgba(250, 250, 250, 0.25);
}
.c-button--fluid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #FAFAFA !important;
  background-color: rgba(33, 33, 33, 0.75);
  border-radius: 0;
  box-shadow: none;
}

/*--------------------------------------------------
  Card
--------------------------------------------------*/
.c-card {
  position: relative;
  color: #212121 !important;
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
.c-card__image {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.c-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}
.c-card__content {
  position: relative;
  height: calc(100% - 200px);
  padding: 20px 10px;
}
@media (min-width: 768px) {
  .c-card__image--full, .c-card__content--full {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .c-card__content {
    padding: 20px;
  }
}

/*--------------------------------------------------
  Highlight
--------------------------------------------------*/
.c-highlight {
  color: #FAFAFA;
  padding: 10px;
  background-color: #880E4F;
  border-radius: 2px;
  overflow: auto;
}
.c-highlight--light {
  color: #212121;
  background-color: #FAFAFA;
}
.c-highlight--dark {
  color: #FAFAFA;
  background-color: #212121;
}
.c-highlight--success {
  color: #FAFAFA;
  background-color: #4CAF50;
}
.c-highlight--warning {
  color: #FAFAFA;
  background-color: #FF9800;
}
.c-highlight--danger {
  color: #FAFAFA;
  background-color: #F44336;
}
.c-highlight--info {
  color: #FAFAFA;
  background-color: #00BCD4;
}
.c-highlight--grey {
  color: #212121;
  background-color: #EEEEEE;
}
.c-highlight a {
  color: inherit;
}
@media (min-width: 768px) {
  .c-highlight {
    padding: 20px;
  }
}

/*--------------------------------------------------
  Heading
--------------------------------------------------*/
.c-heading-above-the-fold,
.c-heading-section {
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.c-heading-above-the-fold {
  color: #FAFAFA;
  font-size: 2.4rem;
  letter-spacing: 0.25em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .c-heading-above-the-fold {
    font-size: 3.4rem;
  }
  .c-heading-above-the-fold__easter-egg {
    color: #E0E0E0;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-delay: 1200ms;
    animation-fill-mode: both;
  }
  @keyframes fadein {
    from {
      margin-left: -100%;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
}

.c-heading-section {
  color: #616161;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px) {
  .c-heading-section {
    font-size: 2.8rem;
  }
}

.c-heading-article {
  color: #212121;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .c-heading-article {
    font-size: 1.8rem;
  }
}

.c-heading-item {
  max-width: 100%;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.c-heading-item--featured {
  white-space: normal !important;
}

/*--------------------------------------------------
  Site-menu
--------------------------------------------------*/
.c-site-menu {
  position: relative;
  display: block;
  padding: 10px;
  color: #FAFAFA;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.c-site-menu__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.c-site-menu__inner {
  position: relative;
  display: block;
  width: inherit;
  height: 3px;
  background-color: #FAFAFA;
}
.c-site-menu__inner::after, .c-site-menu__inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FAFAFA;
  transition: all 200ms ease-in-out;
}
.c-site-menu__text {
  margin: 4px 0 0;
}
.c-site-menu__inner::before {
  top: -8px;
}
.c-site-menu__inner::after {
  bottom: -8px;
}
.c-site-menu.js-active .c-site-menu__inner {
  background-color: rgba(0, 0, 0, 0);
}
.c-site-menu.js-active .c-site-menu__inner::before {
  top: 0;
  transform: rotate(-40deg);
}
.c-site-menu.js-active .c-site-menu__inner::after {
  bottom: 0;
  transform: rotate(40deg);
}

/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/
.c-site-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  transition: all 300ms ease-in-out 120ms;
}
.c-site-nav:hover .c-site-nav__item {
  opacity: 0.5;
}
.c-site-nav:hover .c-site-nav__item:hover {
  opacity: 1;
}
.c-site-nav__item {
  position: relative;
  overflow: hidden;
  transition: all 300ms ease-in-out 120ms;
}
.c-site-nav__item a {
  display: block;
  min-width: 60px;
  padding: 0 10px;
  color: #212121;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-site-nav__logo {
  display: block;
  max-height: 60px;
}
@media (min-width: 992px) {
  .c-site-nav {
    flex-direction: row;
  }
  .c-site-nav__item::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    content: "";
    margin: auto;
    width: 0;
    height: 1px;
    background-color: #212121;
    opacity: 0;
    transition: all 300ms ease-in-out 120ms;
  }
  .c-site-nav:hover .c-site-nav__item--active::after {
    width: calc(100% - 20px);
    opacity: 0.95;
  }
  .c-site-nav:hover .c-site-nav__item--active {
    opacity: 0.95;
  }
  .c-site-nav:hover .c-site-nav__item--active::after {
    background-color: #B71C1C !important;
  }
  .c-site-nav:hover .c-site-nav__item--active a {
    color: #B71C1C;
  }
  .c-site-nav__item--branding {
    max-width: 0;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  .c-site-nav__item--branding.js-show.js-active {
    max-width: 100%;
    opacity: 1 !important;
    transition-delay: 500ms;
  }
  .c-site-nav__item--branding::after {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .c-site-nav__item a {
    min-width: 50px;
    padding: 0 20px 0 70px;
    line-height: 50px;
    text-align: left;
  }
  .c-site-nav__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 70px !important;
    max-height: 60px;
    text-align: center;
    transform: translateY(-50%);
  }
  .c-site-nav__item--branding {
    display: none;
  }
}

/*--------------------------------------------------
  Site-title
--------------------------------------------------*/
.c-site-branding {
  display: flex;
  align-items: center;
  height: 60px;
  color: #FAFAFA !important;
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none !important;
  white-space: nowrap;
}
.c-site-branding__logo {
  max-width: 100%;
  height: 100%;
  max-height: calc(100% - 10px);
}
.c-site-branding__logo img {
  height: 100%;
}
.no-picture .c-site-branding__logo {
  display: block;
  max-width: 90px;
}

.c-site-branding__title {
  padding-left: 10px;
  font-size: inherit;
}
@media (min-width: 992px) {
  .c-site-branding {
    height: 90px;
    color: #B71C1C !important;
    font-size: 3.4rem;
  }
  .c-site-branding__easter-egg {
    color: #212121;
    opacity: 1;
    transition: all 300ms ease-in-out 120ms;
  }
  .c-site-branding:not(:hover) .c-site-branding__easter-egg {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    opacity: 0;
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  .c-site-branding__easter-egg {
    display: none;
  }
}

/*--------------------------------------------------
  Footer nav
--------------------------------------------------*/
.c-footer-nav {
  list-style: none;
  font-size: 1.4rem;
}
.c-footer-nav__item {
  position: relative;
}
.c-footer-nav__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  text-align: center;
  transform: translateY(-50%);
}
.c-footer-nav__item a {
  display: block;
  padding-left: 20px;
  color: #FAFAFA;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*--------------------------------------------------
  form
--------------------------------------------------*/
.c-form {
  position: relative;
}
.c-form--full {
  width: 100%;
}
.c-form label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
}
.c-form textarea {
  width: 100%;
  max-width: 100%;
  height: 60px;
  min-height: 40px;
  resize: vertical;
}
.c-form input[type=checkbox] {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
.c-form input[type=text], .c-form input[type=email], .c-form input[type=number] {
  width: 100%;
  height: 40px;
}
.c-form textarea, .c-form input[type=text], .c-form input[type=email], .c-form input[type=number] {
  padding: 0 10px;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: inherit;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid #757575;
}
.c-form button, .c-form input[type=button], .c-form input[type=submit] {
  cursor: pointer;
  border: none;
}
.c-form button:disabled:hover, .c-form input[type=button]:disabled:hover, .c-form input[type=submit]:disabled:hover {
  cursor: auto;
  opacity: 0.5;
  box-shadow: none;
}
.c-form button, .c-form textarea, .c-form input[type=text], .c-form input[type=email], .c-form input[type=button], .c-form input[type=number], .c-form input[type=submit] {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.c-form ::-moz-placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}
.c-form ::placeholder {
  color: inherit;
  font-size: 1.4rem;
  line-height: 40px;
}
.c-form #honeypot {
  display: none;
}