/*--------------------------------------------------
  Site-main
--------------------------------------------------*/

.l-site-main {
  position: relative;
  padding: $header-height_m 0 0;

  @include media-breakpoint-min(lg) {
    padding: #{$header-height + $nav-height} 0 0;
  }
}
