/*--------------------------------------------------
  Button
--------------------------------------------------*/

.c-button {
  display: inline-block;
  min-width: 50px;
  padding: 0 15px;
  color: $light !important;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  background: linear-gradient(to bottom right, $primary, $secondary);
  box-shadow: $z-depth-1;
  white-space: nowrap;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    box-shadow: $z-depth-2;
  }

  &--large {
    min-width: 50px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 15px;
  }

  &--full {
    display: block;
    width: 100%;
  }

  &--edgy { border-radius: 2px; }

  &--secondary {
    color: $light !important;
    background: $secondary;
  }

  &--light {
    color: $dark !important;
    background: $light;
  }

  &--dark {
    color: $light !important;
    background: $dark;
  }

  &--success {
    color: $light !important;
    background: $success;
  }

  &--warnig {
    color: $light !important;
    background: $warning;
  }

  &--danger {
    color: $light!important;
    background: $danger;
  }

  &--info {
    color: $light !important;
    background: $info;
  }
}
