/*--------------------------------------------------
  Card
--------------------------------------------------*/

.c-card {
  color: $dark !important;
  background-color: $light;
  border-radius: 2px;
  box-shadow: $z-depth-1;

  &--dark {
    color: $light !important;
    background-color: $dark;
  }

  &__image {
    height: 200px;
  }

  &__content {
    height: calc(100% - 200px);
    padding: 20px;
  }
}
