// JACKRO - Code & Design
// The Free Code and Design Template for Developers and Designers.
// Created using Moonshine, A Scalable and maintainable architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Footer nav
--------------------------------------------------*/

.c-footer-nav {
  list-style: none;
  font-size: $font-md;

  &__item {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    text-align: center;
    transform: translateY(-50%);
  }

  &__item a {
    display: block;
    padding-left: 20px;
    color: $light;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
