/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/

.c-site-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  transition: $transition;

  &:hover &__item {
    opacity: 0.5;

    &:hover { opacity: 1; }
  }

  &__item {
    position: relative;
    overflow: hidden;
    transition: $transition;
  }

  &__item a {
    display: block;
    min-width: $nav-height;
    padding: 0 10px;
    color: $dark;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: $nav-height;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__logo {
    display: block;
    max-height: $nav-height;
  }

  @include media-breakpoint-min(lg) {
    flex-direction: row;

    &__item::after {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 5px;
      content: "";
      margin: auto;
      width: 0;
      height: 1px;
      background-color: $dark;
      opacity: 0;
      transition: $transition;
    }

    &:hover &__item:hover::after,
    &:hover &__item--active::after {
      width: calc(100% - 20px);
      opacity: 0.95;
    }

    &:hover &__item--active {
      opacity: 0.95;

      &::after { background-color: $primary !important; }
      & a { color: $primary; }
    }

    &__item--branding {
      max-width: 0;
      opacity: 0;
      background-color: $grey-200;
      transition: all 500ms ease-in-out;

      &.js-show.js-active {
        max-width: 100%;
        opacity: 1 !important;
        transition-delay: 500ms;
      }

      &::after { display: none !important; }
    }
  }

  @include media-breakpoint-max(lg) {
    &__item a {
      min-width: $nav-height_m;
      padding: 0 20px 0 70px;
      line-height: $nav-height_m;
      text-align: left;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 0;
      width: 70px !important;
      max-height: $nav-height;
      text-align: center;
      transform: translateY(-50%);
    }

    &__item--branding { display: none; }
  }
}
