/*--------------------------------------------------
  Site-title
--------------------------------------------------*/

.c-site-branding {
  display: flex;
  align-items: center;
  height: $header-height_m;
  color: $white !important;
  font-family: $font-secondary;
  font-size: $font-xl;
  font-weight: 700;
  line-height: 1;
  text-decoration: none !important;
  white-space: nowrap;

  &__logo {
    max-width: 100%;
    max-height: calc(100% - 20px);
  }

  &__title {
    padding-left: 10px;
    font-size: inherit;
  }

  &__easter-egg {
    opacity: 1;
    transition: $transition;
  }

  &:not(:hover) &__easter-egg {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    opacity: 0;
    overflow: hidden;
  }

  @include media-breakpoint-min(lg) {
    height: $header-height;
    font-size: $font-sl;
  }
}

